img{
    border-radius:2cm;
    perspective-origin: 1cm;
}

#box{
    height: 300px;
    width: 300px;
    background-color: black;

}
body{
    background-color: seashell;
}
h1{
    text-align: center;
    color: black;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
P1{
    
    font-style: initial;
}

li{
    border:1px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin-bottom: 9px;

}
.lang{
    text-align: center;
    background-color: chartreuse;
}
.Projects{
    background-color: rgb(0, 255, 85);
    padding: 0px;
    border-spacing: 0px;
}
footer{
    background-color: black;
    padding: 30px;
    text-align: center;
    padding-left: 50px;
    color: white;
    text-underline-offset:2px;
    
}
.skills{
    background-color: rgb(196, 255, 211);
}
body{
    background-color: aliceblue;
}
header{
    background-color: aqua;
}
header{
    width: 2000px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    from {background-color: rgb(255, 0, 221);}
    to {background-color: yellow;}
  }